$color-primary: #10172C;
$color-secondary: #BBBBBB;

$color-text-primary: #0f172a;
$color-text-secondary: #BBBBBB;

$color-success: #16a34a;
$color-warning: #f59e0b;
$color-danger: #dc2626;

$color-text-primary: #0f172a;
$color-text-secondary: #475569;

$color-bg-primary: #ffffff;
$color-bg-secondary: #0f172a;

$color-border-primary: #00000029;
$color-border-secondary: #10172C26;