<app-card [item]="customerToCardVM(customer()!)"></app-card>

@if (subscriptions().length > 0) {
  <mat-card class="customers-card">
    <div class="card-header">
      <h2 class="card-title">Subscriptions</h2>
    </div>
    <ul>
      @for (subscription of subscriptions(); track subscription.handle) {
        <li>{{ subscription.handle }} — {{ subscription.state }}</li>
      }
    </ul>
  </mat-card>
  <!--<app-grid [data]="gridVm()"></app-grid>-->
} @else {
  <p>No subscriptions found.</p>
}
